
/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* width: 100%; */
}

.backdrop {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}


/* Navigation Menu */

.main-header {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ddf5c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

/* Toggle Mobile Nav button */

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__brand {
    color: #0e4f1f;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.375rem;
    display: inline-block;
    height: 1.375rem;
    vertical-align: middle;
}

.main-header__brand img {
    height: 100%;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 0.625rem;
}

.main-nav__item a,
.mobile-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 0.1875rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 3px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: white;
    background-color: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.main-nav__item--cta a:hover, 
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

/* Mobile Navigation */

.mobile-nav {
    display: none;
    z-index: 101;
    position: fixed;
    height: 100vh;
    width: 50%;
    background: white;
    top: 0;
    left: 0;
}

.mobile-nav__items {
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
    width: 90%;
    height: 100%;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}


/* Buttons */


.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0.3125rem;
    cursor: pointer;
    font-weight: bold;
}

.button:hover,
.button:active {
    background: white;
    color: black;
    font-weight: bolder;
}




/* Footer */

.main-footer {
    background: black;
    padding: 2rem;
    margin-top: 3rem;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
}

.main-footer__link a {
    text-decoration: none;
    margin: 0 1.25rem;
    color: white;
    font-weight: bold;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}


/* Alternative way to display elements using the classList property in JavaScript */
/* When alternative approach used this should be uncommented */

/* .open {
    display: block !important;
} */ 
